numpy == 1.26.4
pandas >= 2.1
yfinance >= 0.2.18
stable-baselines3 >= 2.6.0
gymnasium >= 0.29
torch >= 2.3
vectorbt >= 0.24.0
scikit-learn >= 1.2
matplotlib >= 3.6

pandas-ta==0.3.14
ccxt
alpaca-trade-api
alpha_vantage == 2.3.1
plotly
plotly-resampler
tensorboard
